.page-footer {
    padding-top: 0px;
    color: rgb(243, 240, 240);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

nav {
    color: rgb(243, 240, 240);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.busca_csv {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
}

.search_nr_ocorrencia {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#inputFile {
    margin: 15px;
    margin-left: 150px;
}

#pesquisa {
    margin-left: 140px;
}


/* AJUSTA PLACEHOLDER */
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 img {
     /* padding: 10px; */
     width: 70px;
     height: 60px;
 }

 h4 {
    font-size: 2.28rem;
    line-height: 110%;
    color: rgba(0,0,0,0.87);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
 }

 #como_usar {
    padding: 0;
    box-sizing: inherit;
    color: rgba(0,0,0,0.87);
    line-height: 1.6;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
 }


 #sobre_o_autor {
    padding: 0;
    box-sizing: inherit;
    color: rgba(0,0,0,0.87);
    line-height: 1.6;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
}

#modalEstatisticas {
     padding: 0;
     box-sizing: inherit;
     color: rgba(0,0,0,0.87);
     line-height: 1.6;
     font-size: 16px;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
     font-weight: normal;
 }